.App {
  background-color: #FFEDD8;
  min-height: 100vh;
}

  .App h1 {
    display: inline;
    margin-left: 5rem;
    margin-top: 1rem;
    position: absolute;
  }

  .App ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 50%;
    margin-top: 1rem;
    position: absolute;
  }

  .App li {
    display: inline;
    margin-right: 5rem;
  }

    .App li a {
      text-decoration: none;
      color: black;
    }

    .App li .book {
      background-color: #583101;
      color: white;
      padding: 7px;
      margin-right: 0;
    }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
