.navBarList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
/* Tar bort list-stylen, padding och margin, ger den en float till höger. */

.navBarListItems {
  display: inline;
  margin-right: 5rem;
}
/* Sätter en inline display och ger den en margin till höger. */

  a {
    text-decoration: none;
    color: black;
  }
  /* Tar bort text-decoration och ger den en svart färg. */

  .NavBar li {
    padding: 10px;
  }
  /* Sätter en border på knapparna och ger den en färg. Lägger också till en padding och tar bort margin längst till höger. */

.Home, .About {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Sätter en minsta höjd på hela sidan. Ändrar till flex och till kolumner så footern alltid är längst ned på skärmen. */

  .About {
    text-align: center;
  }
  
  .navBarHeading {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    margin-left: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#F18608;
  }
  /* Tar bort padding lägger till en margin längst upp och till vänster. Ändrar typsnittet till Gill Sans och ger den en färg. */

  .Intro {
    margin-top: 10rem;
  }
  /* Lägger till en margin längst upp. */

    .Intro img {
      max-width: 700px;
      margin-right: 5rem;
      float: right;
      border-radius: 30px;
    }
    /* Sätter en maxbredd på bilden. Ger den en margin till höger. Sätter en float till höger och ger den en border-radius. */

    .IntroContent {
      text-align: center;
      font-size: 20pt;
      margin-left: 12rem;
      display: inline-block;
      margin-top: 10rem;
      margin-bottom: 25rem;
    }
    /* Centrerar texten, ändrar storleken på texten, ger den en margin till vänster. Sätter en inline-block display och ger den en margin längst upp och längst ned. */

      .IntroSlogan {
        color: #F18608;
        font-size: 30pt;
      }
      /* Ger texten en färg och ändrar storleken på texten. */

  .SearchFilter {
    background-color:#F18608;
    border-radius: 15px;
    padding: 2rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7rem;
  }
  /* Sätter en bakgrundsfärg, en border-radius, en padding och en bredd. Ger den en automatisk margin till höger och vänster vilket centrerar den. */

    .SearchFilter h2 {
      color: white;
      text-align: center;
      margin-bottom: 2rem;
    }
    /* Ger texten en vit färg, centrerar texten och ger den en margin längst ned. */

    .SearchFilter input {
      width: 100%;
      padding: 10px;
      border: 2px solid white;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    /* Sätter en bredd, en padding, en border och en border-radius. Ger den en margin längst ned. */

    .SearchFilter button {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      border: 2px solid white;
      border-radius: 5px;
      background-color: white;
      color: #F18608;
    }
    /* Ändrar muspekaren, sätter en bredd, en padding, en border, en border-radius, en bakgrundsfärg och en färg. */

  .SearchFilter label {
    display: inline-block;
    margin-left: 4rem;
    text-align: center;
  }
  /* Sätter en inline-block display, ger den en margin till vänster och centrerar texten. */

  .InformationCard, .RoomInformationCard {
    margin-top: 5rem;
    border: 2px solid #F18608;
    text-align: center;
    border-radius: 25px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
  }
  /* Ger den en margin längst upp, en border, centrerar texten, en border-radius, en bredd, en automatisk margin till höger och vänster vilket centrerar den. */

    .InformationCard img, .RoomInformationCard img {
      width: 300px;
      height: 300px;
      border-radius: 25px;
    }
    /* Sätter en bredd och höjd på bilden. Sätter en border-radius på bilden. */

    .icon {
      width: 25px !important;
      height: 25px !important;
    }
    /* Sätter en bredd och höjd på ikonen. Överskrider ändringarna från ".InformationCard img" med "!important". */

    .InformationCard ul, .RoomInformationCard ul {
      margin: 0 auto;
      display: table;
      text-align: left;
    }
    /* Centrerar listan, sätter display till "table", centrerar texten och ger den en margin längst ned. */

      .RoomInformationCard ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin-bottom: 5rem;
      }
      /* Centrerar texten, tar bort list-stil och tar bort padding. Ger den en margin längst ned. */

      .RoomInformationCard input, .InformationCard button, .RoomInformationCard button {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      /* Sätter en display till "block", ger den en automatisk margin till höger och vänster vilket centrerar den. */

        .RoomInformationCard input[type="radio"] {
          display: inline;
        }
        /* Sätter en margin till 0 och en display till "inline". */

        .chooseRoomLabel {
          display: block;
        }
        /* Sätter en display till "block". */

  .DetailsBox {
    margin-top: 5rem;
    border: 2px solid #F18608;
    border-radius: 25px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
  }
  /* Ger den en margin längst upp, en border, en border-radius, en bredd, centrerar texten, en automatisk margin till höger och vänster vilket centrerar den och en margin längst ned. */

    .DetailsBox h1 {
      color: #F18608;
    }
    /* Ger den en färg. */

    .DetailsBox input, .DetailsBox textarea, .DetailsBox label {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
    /* Ändrar till block display, lägger också till en margin som centrerar dem. */

      .DetailsBox input[type="radio"], .DetailsBox input[type="checkbox"] {
        display: inline;
      }
      /* Ändrar till inline display. */

    .backButton {
      display: block;
      position: absolute;
      text-align: left;
    }
    /* Ändrar till block display, ändrar positionen till "absolute", positionerar knappen till vänster, ger den en margin till vänster och en margin längst upp. */
  
    .ConfirmationMessage {
      margin-top: 5rem;
      border: 2px solid #F18608;
      border-radius: 25px;
      width: 60%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 7rem;
    }
    /* Ger den en margin längst upp, en border, en border-radius, en bredd, centrerar texten, en automatisk margin till höger och vänster vilket centrerar den och en margin längst ned. */

      .ConfirmationMessage ul {
        list-style-type: none;
        padding: 0;
      }
      /* Tar bort liststilen och paddingen. */
      
  .Footer {
    background-color: #F18608;
    margin-top: auto;
    text-align: center;
  }
  /* Sätter en bakgrundsfärg och positionerar den längst ner. */