.App {
  min-height: 100vh;
}

  .NavBar {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5rem;
    }
  
  .Header h1 {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    margin-left: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#F18608;
  }

  .NavBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
  }

  .NavBar li {
    display: inline;
    margin-right: 5rem;
  }

    a {
      text-decoration: none;
      color: black;
    }

    .NavBar li .book, .IntroButton {
      border: 2px solid #F18608;
      color: #F18608;
      padding: 10px;
      margin-right: 0;
    }

  .Intro img {
    width: 834px;
    height: 699px;
    position: absolute;
    margin-right: 4rem;
    border-radius: 30px;
    right: 0;
  }

  .IntroContent {
    text-align: center;
    font-size: 20pt;
    margin-left: 15rem;
    display: inline-block;
    margin-top: 10rem;
    margin-bottom: 25rem;
  }

    .IntroSlogan {
      color: #F18608;
      font-size: 30pt;
    }

  .Search {
    background-color:#F18608;
    border-radius: 15px;
    padding: 2rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .Search label {
    display: inline-block;
    margin-left: 4rem;
    text-align: center;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
